extends ../layout

block content
    style label{display:block;}
    h1 Авторизация
    form(method="post", action="/auth/form")
        table
            tr
                td Login
                td
                    input(type="text", name="login", value="jangot")
            tr
                td Password
                td
                    input(type="password", name="pass", value="111")
            tr
                td
                td
                    input(type="submit", value="Ok")