extends ../layout

block content
  h1(style="border:1px red solid;")= title
  p Welcome to #{title}
  div indexTmp
    p#newDay #{content}

  label
    input(type="checkbox", name="yoo")
    span test